<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:m="http://www.getmedusa.io" >
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

   <div m:ref="two_hello">
        <div>Two Application: A simple Fragment message: <span th:text="${message}"> Hello </span></div>
    </div>

    <div m:ref="two_counter">
        <div><h3>Two Application: A Fragment Counter: <span id="txt_two_counter" th:text="${two_counter}"> counter </span> </h3></div>
        <div><button id="btn_two_counter" m:click="twoCounter()">Increment Counter</button></div>
    </div>

    <div m:ref="two_session_counter">
        <div><h3>Two Application: A Fragment Session Counter: <span th:text="${sessionCounter}"> counter </span> </h3></div>
        <div><button m:click="twoSessionCounter()">Increment Counter</button></div>
    </div>
</body>
</html>